html,
body {
  overflow: auto;
}
h2 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
form,
.panel {
  text-align: left;
  max-width: 800px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  border-radius: 9px;
  padding: 2em;
}
form input,
.panel input {
  background-color: transparent;
  border: medium none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: .5em;
}
form input[type="submit"],
.panel input[type="submit"],
form button,
.panel button,
form .submit,
.panel .submit {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: .5em;
  padding: .5em 1em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}
form input[type="submit"]:hover,
.panel input[type="submit"]:hover,
form button:hover,
.panel button:hover,
form .submit:hover,
.panel .submit:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
form em,
.panel em {
  font-size: 12px;
}
form ul li,
.panel ul li,
form ol li,
.panel ol li {
  margin-bottom: 10px;
}
form.new_torrent_form input#URN {
  min-width: 400px;
}
form#editAlbumForm {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
form#editAlbumForm .island {
  margin-bottom: 10px;
}
form#editAlbumForm .important_forminfo {
  padding-left: 20%;
}
form#editAlbumForm input#albumname {
  font-size: 30px;
  font-weight: bold;
  min-width: 300px;
}
form#editAlbumForm input#artistname {
  font-size: 24px;
  font-weight: bold;
  min-width: 300px;
}
form#editAlbumForm input#genres {
  font-weight: bold;
}
form#editAlbumForm input.trackname {
  min-width: 400px;
}
p.error,
p.warning,
p.success {
  max-width: 800px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 1em auto;
  padding: 1em;
  box-sizing: content-box;
  border-radius: 5px;
}
p.error.error,
p.warning.error,
p.success.error {
  background-color: #bbbbff;
  border-color: #aaaadd;
}
p.error.error,
p.warning.error,
p.success.error {
  background-color: #ffbbbb;
  border-color: #ddaaaa;
}
p.error.success,
p.warning.success,
p.success.success {
  background-color: #bbffbb;
  border-color: #aaddaa;
}
.centered {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}
a {
  color: #282828;
  text-decoration: underline;
}
a:hover {
  color: inherit;
  opacity: .7;
  text-decoration: none;
}
.panel p,
.panel li {
  text-shadow: none;
}
input#urn {
  min-width: 400px;
}
.alert {
  bottom: auto;
  position: relative;
  pointer-events: all;
}
.alertarea {
  top: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 200px;
  position: fixed;
  z-index: 999;
  pointer-events: none;
}
