
html,body{
	overflow: auto;
}

h2{
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

form, .panel{
	text-align: left;
	max-width: 800px;
	margin: 0px auto;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid;
	border-radius: 9px;
	padding: 2em;

	input{
		background-color: transparent;
		border: medium none;
		border-bottom: 1px dashed rgba(0,0,0,0.5);
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		margin: .5em;
	}
	input[type="submit"], button, .submit{
		border: 1px solid rgba(0,0,0,0.7);
		border-radius: 5px;
		background-color: rgba(255,255,255,0.3);
		margin: .5em;
		padding: .5em 1em;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.5);

		transition: background-color .2s;
		&:hover{
			background-color: rgba(255,255,255,0.5);
		}

	}
	em{
		font-size: 12px;
	}
	ul li, ol li{
		margin-bottom:10px;
	}
}

form.new_torrent_form{
	input#URN{
		min-width:400px;
	}
}

form#editAlbumForm{
	text-align:left;
	max-width: 800px;
	margin: 0 auto;
	margin-top:50px;

	.island{
		margin-bottom:10px;
		&.center{
			//text-align:center;
		}
	}
	.important_forminfo{
		padding-left: 20%;
	}

	input#albumname{
		font-size:30px;
		font-weight:bold;
		min-width:300px;
	}
	input#artistname{
		font-size:24px;
		font-weight:bold;
		min-width:300px;
	}
	input#genres{
		font-weight:bold;
	}
	input.trackname{
		min-width:400px;
	}
}

p.error, p.warning, p.success{
	max-width:800px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	margin: 1em auto;
	padding: 1em;
	box-sizing:content-box;
	border-radius: 5px;
	&.error{
		background-color: #bbf;
		border-color: #aad;
	}
	&.error{
		background-color: #fbb;
		border-color: #daa;
	}
	&.success{
		background-color: #bfb;
		border-color: #ada;
	}
	
}

.centered{
	margin-left:auto !important;
	margin-right:auto !important;
	display:block;
}
a{
	color:#282828;
	text-decoration: underline;
	&:hover{
		color: inherit;
		opacity:.7;
		text-decoration:none;
	}
}

.panel p, .panel li{
	text-shadow:none;
}

input#urn{
	min-width:400px;
}

.alert{
	bottom:auto;
	position:relative;
	pointer-events: all;
}

.alertarea{
	top:200px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	bottom:200px;
	position:fixed;
	z-index:999;
	pointer-events:none;
}