.home_view h1,
.home_view h2,
.home_view h3,
.home_view h4 {
  margin-top: 30px;
  margin-bottom: 50px;
}
.home_view ul {
  margin-left: 50px;
}
.home_view .changelog {
  max-height: 400px;
  overflow: auto;
  padding: 50px;
}
.home_view .changelog > ul > li {
  font-weight: bold;
  font-size: 1.2em;
}
.home_view .changelog > ul > li > ul {
  font-size: 0.8em;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}
.home_view .header {
  font-size: 1.1em;
}
