.home_view{
	h1,h2,h3,h4{
		margin-bottom:30px;
		margin-top:50px;
	}

	ul{
		margin-left:50px;
	}
	.changelog{
		max-height:400px;
		overflow:auto;
		padding:50px;

		&>ul>li{
			font-weight:bold;
			font-size:1.2em;
			&>ul{
				font-size: 0.8em;
				font-weight: normal;
				margin-top:10px;
				margin-bottom:20px;
			}
		}
	}

	.header{
		font-size:1.1em;
	}
}