<div class="home_view">
  <h1>Welcome!</h1>
<div class="header">
  <p>
    Welcome to Version 0.5 of the Cactus Player. The program is still in an Alpha-state, but most features should be working well.
  </p>
  <p>All Questions &amp; Feedback is greatly appreciated. Let me know at <a href="mailto:cactus@cactusplayer.com">cactus@cactusplayer.com</a>. 

    <p><br/><br/>
      --Mr. Cactus</p>


</div>
<div class="header">
  <h3> Host Your Own Server </h3>
  <p>
    Having more Servers greatly increases network stability.<br/>
    Therefore, we are looking for people to host their own Cactus Player Server Nodes.<br/><br/>
    The only thing you need for this is a simple PHP-webhost with a MySQL database. Setting up is very easy.<br/>
  <a href="https://bitbucket.org/cactusplayer/cactusplayer#markdown-header-how-to-set-up-a-server" onclick="openExternal('https://bitbucket.org/cactusplayer/cactusplayer#markdown-header-how-to-set-up-a-server'); return false;">More Information At the Source Repository</a>

  </p>

</div>

  <h3>Changelog</h3>
  <div class="changelog well-well">
    <ul>

      
      <li>Version 0.5:
          <ul>
              <li>Link to stream to external player in context menu.</li>
              <li>Adding/Removing Tracks/Albums to/from playlist speeds are now 100x faster.</li>
              <li>Playlist saving/loading fixes.</li>
              <li>List of most recently added songs.</li>
              <li>The home view.</li>
          </ul>
      </li>
      <li>Version 0.4:
          <ul>
            <li>'Support these Artists' view that pops up every 5 songs was added. It uses Homepage data from the MusicBrainz.org database. </li>
              <li>Right Click context menu for searched songs: 1) add to album, 2) show last.fm album page.</li>
              <li>'Albums' view where whole albums can be added.</li>
              <li>'Most Popular' view where the most played tracks can be seen.</li>
              <li>'Favouriting' option, and view where your favourited tracks can be seen. These are saved on the local computer.</li>
              <li>Adding songs to all servers at once, using a special form inside of the player. (torcache.org is no longer needed!)</li>
              <li>Making servers smart enough so content is updated whenever an album is added that was already there (metadata is replaced, offering the possibility of metadata-fixes)</li>
          </ul>
      </li>
      <li>Version 0.3:
          <ul>
              <li>Settings menu.</li>
  <li>Multi-server PING.</li>
  <li>Add new servers to server list.</li>
  <li>Content sharing between server instances. (active searching, e.g. when person searches for content on ServerA, ServerA asks ServerB if it has content in that range that ServerA has not)</li>
  <li>Save a playlist to an external document. (and load it again)</li>
  <li>Adding songs to the server by using a simple form on the server.</li>
  <li>On server_list, tell remote server about your own server.</li>
  <li>Cleaner FAQ page</li>
  <li>Content+Download links on server.</li>
          </ul>
      </li>
      <li>Version 0.2:
          <ul>
            <li>Switching servers in client.</li>
            <li>Show buffering status of songs in playlist (other than current song)</li>
  <li>Preloading songs (different from current one) show a fading bar on top of the album art.</li>
  <li>Preloading of songs different from the one we are playing right now. </li>
  <li>Reordering songs in playlist using Packery. </li>
  <li>Deleting of songs, even though they are draggable.</li>
  <li>Nicer layout of current playing song.</li>
  <li>Volume Slider</li>
              <li>Client reporting that a song can be played and is playing successfully (To increase popularity/availability counter on server).</li>
  <li>Client lets users search for songs and shows results.</li>
  <li>Client lets users add songs from results to playlists.</li>
  <li>Playing, pausing, next/previous song.</li>
  <li>Removing songs from playlist.</li>
  <li>Seeking whitin a song. (Sometimes makes the song hang, depends on the encoding scheme probably. Limitation of Aurora.js)</li>
          </ul>
      </li>
      <li>Version 0.1:
          <ul>
              <li>Server responding to search queries.</li>
  <li>Server responding to most popular songs query.</li>
  <li>Client can play .mp3, .wav, .ogg, .flac and possibly some other formats. Hooray for the Aurora.js music decoder/player!</li>
  <li>Client buffers songs that are yet to be played (including the current playing one), using the node server built-in in the client to serve the data from torrent-stream to the aurora player in chunks.</li>
              
          </ul>
      </li>
    </ul>
  </div>
  <div class="roadmap">
    <h3>Features that Will Hopefully Be Added To Version 0.6:</h3>
    <div class="well-well">
        <b>(No promises!)</b>
      <ul>
          <li>Split off the cactus_audio_streamer so it can be used to provide web players with content.</li>
          <li>Recommendations (auto-expanding playlist) using EchoNest or a similar API.</li>
          <li>Improvement of the layout of the player.</li>
          <li>Code refactoring.</li>
          <li>Automatic news/version updates notifications.</li>
      </ul>
      </div>
  </div>
</div>