* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?z4mpgk');
  src: url('fonts/icomoon.eot?#iefixz4mpgk') format('embedded-opentype'), url('fonts/icomoon.woff?z4mpgk') format('woff'), url('fonts/icomoon.ttf?z4mpgk') format('truetype'), url('fonts/icomoon.svg?z4mpgk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-apple:before {
  content: "\e604";
}
.icon-windows:before {
  content: "\e605";
}
.icon-stats:before {
  content: "\e602";
}
.icon-linux:before {
  content: "\e603";
}
.icon-trophy:before {
  content: "\e601";
}
.icon-file-add:before {
  content: "\e600";
}
@font-face {
  font-family: 'quicksandlight_italic';
  src: url('fonts/quicksand-lightitalic-webfont.eot');
  src: url('fonts/quicksand-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quicksand-lightitalic-webfont.woff2') format('woff2'), url('fonts/quicksand-lightitalic-webfont.woff') format('woff'), url('fonts/quicksand-lightitalic-webfont.ttf') format('truetype'), url('fonts/quicksand-lightitalic-webfont.svg#quicksandlight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksandregular';
  src: url('fonts/quicksand-regular-webfont.eot');
  src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quicksand-regular-webfont.woff2') format('woff2'), url('fonts/quicksand-regular-webfont.woff') format('woff'), url('fonts/quicksand-regular-webfont.ttf') format('truetype'), url('fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksandlight';
  src: url('fonts/quicksand-light-webfont.eot');
  src: url('fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quicksand-light-webfont.woff2') format('woff2'), url('fonts/quicksand-light-webfont.woff') format('woff'), url('fonts/quicksand-light-webfont.ttf') format('truetype'), url('fonts/quicksand-light-webfont.svg#quicksandlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksandbold';
  src: url('fonts/quicksand-bold-webfont.eot');
  src: url('fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quicksand-bold-webfont.woff2') format('woff2'), url('fonts/quicksand-bold-webfont.woff') format('woff'), url('fonts/quicksand-bold-webfont.ttf') format('truetype'), url('fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksanditalic';
  src: url('fonts/quicksand-italic-webfont.eot');
  src: url('fonts/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quicksand-italic-webfont.woff2') format('woff2'), url('fonts/quicksand-italic-webfont.woff') format('woff'), url('fonts/quicksand-italic-webfont.ttf') format('truetype'), url('fonts/quicksand-italic-webfont.svg#quicksanditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksandbold_italic';
  src: url('fonts/quicksand-bolditalic-webfont.eot');
  src: url('fonts/quicksand-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quicksand-bolditalic-webfont.woff2') format('woff2'), url('fonts/quicksand-bolditalic-webfont.woff') format('woff'), url('fonts/quicksand-bolditalic-webfont.ttf') format('truetype'), url('fonts/quicksand-bolditalic-webfont.svg#quicksandbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.small {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-family: 'quicksandbold', Arial, Helvetica, sans-serif;
}
/* Grabbed from within the player styles ^^' */

.btn-default {
  background-image: linear-gradient(to bottom, #447744, #90f090 100%);
  border: 0px none transparent;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.hover,
.btn-default.focus,
.btn-default.active {
  background-image: linear-gradient(to bottom, #579757, #90f090 100%);
  background-position: 0 0;
}
.btn-default:hover:active,
.btn-default:focus:active,
.btn-default:active:active,
.btn-default.hover:active,
.btn-default.focus:active,
.btn-default.active:active,
.btn-default:hover.active,
.btn-default:focus.active,
.btn-default:active.active,
.btn-default.hover.active,
.btn-default.focus.active,
.btn-default.active.active {
  background-image: linear-gradient(to bottom, #315731, #90f090 100%);
}
.pagewrapper {
  min-height: 100%;
  position: relative;
  text-align: center;
  font-family: 'quicksandregular', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-image: url('bg3.jpg');
  background-size: 100%, 100%;
  background-size: cover;
  padding-bottom: 150px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.59);
  font-size: 17px;
}
@media screen and (max-width: 500px) {
  .pagewrapper {
    padding-bottom: 300px;
  }
}
header {
  height: 100px;
  margin-bottom: -100px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 499px) {
  header {
    height: 200px;
    margin-bottom: -200px;
  }
}
header .title {
  display: inline-block;
}
header .title .logo {
  display: inline-block;
  background-image: url('epictriangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 64px;
  height: 50px;
  margin-bottom: -11px;
}
header .title h1 {
  display: inline-block;
  font-size: 40px;
  color: white;
  margin: 0;
  margin-left: -10px;
  font-family: "quicksandlight", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 400px) {
  header .title h1 {
    display: block;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 0;
  }
}
header .menu {
  position: absolute;
  top: 30px;
  right: 0;
}
header .menu.pull-left {
  right: auto;
  left: 0;
}
header .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 400px) {
  
}
header .menu ul li {
  display: inline-block;
}
header .menu ul li a {
  display: inline-block;
  padding: 15px 10px;
  color: white;
  text-decoration: none;
  transition: opacity .2s;
}
header .menu ul li a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 400px) {
  header .menu ul li a {
    padding: 3px;
  }
}
@media screen and (max-width: 999px) {
  header {
    height: 150px;
    margin-bottom: -150px;
  }
  header .menu {
    position: static;
    display: block;
  }
}
.content_wrapper {
  min-height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}
@media screen and (max-width: 999px) {
  .content_wrapper {
    padding-top: 200px;
  }
}
.hero-unit {
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  background-size: 100% 100%;
}
@media screen and (max-width: 999px) {
  .hero-unit {
    padding-top: 200px;
  }
}
.hero-unit h1 {
  font-size: 64px;
  font-family: 'quicksandbold', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 999px) {
  .hero-unit h1 {
    font-size: 56px;
  }
}
.hero-unit p {
  font-size: 28px;
}
.disclaimer {
  padding: 20px;
  text-shadow: none;
  font-family: 'quicksandbold', Arial, Helvetica, sans-serif;
  background-color: #ffffcc;
  color: rgba(0, 0, 0, 0.3);
}
.disclaimer h2 {
  color: rgba(0, 0, 0, 0.4);
}
.warning-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.howitworks {
  padding: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.howitworks .triple {
  position: relative;
  min-height: 350px;
  display: inline-block;
  width: 360px;
  flex: 1;
  padding: 30px;
  margin: 30px;
}
@media screen and (max-width: 499px) {
  .howitworks .triple {
    display: block;
    width: 100%;
    margin: 0;
  }
}
.howitworks .triple .icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #eeeeee;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-size: contain;
}
.howitworks .triple .icon.icon_search {
  background-image: url('search_withoutnotes.svg');
}
.howitworks .triple .icon.icon_network {
  background-image: url('network_4.svg');
}
.howitworks .triple .icon.icon_screenshot {
  background-image: url('mini_screenshot_cactusplayer2.png');
}
.howitworks .triple p {
  display: block;
  height: 100px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}
.download {
  background-color: #eeffee;
  padding: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.7);
  color: white;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}
footer .withlove {
  left: 0;
  right: 0;
  max-width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 500px) {
  footer .withlove {
    position: absolute;
  }
}
footer .maintainer,
footer .serverversion {
  font-size: 12px;
}
@media screen and (min-width: 500px) {
  footer .maintainer,
  footer .serverversion {
    float: right;
  }
}
footer .maintainer strong,
footer .serverversion strong {
  font-size: 16px;
  display: block;
}
@media screen and (min-width: 500px) {
  footer .serverversion {
    float: left;
  }
}
form,
.panel {
  text-align: left;
  max-width: 500px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  border-radius: 9px;
  padding: 2em;
}
form input,
.panel input {
  background-color: transparent;
  border: medium none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: .5em;
}
form input[type="submit"],
.panel input[type="submit"],
form button,
.panel button,
form .submit,
.panel .submit {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: .5em;
  padding: .5em 1em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}
form input[type="submit"]:hover,
.panel input[type="submit"]:hover,
form button:hover,
.panel button:hover,
form .submit:hover,
.panel .submit:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
form em,
.panel em {
  font-size: 12px;
}
form ul li,
.panel ul li,
form ol li,
.panel ol li {
  margin-bottom: 10px;
}
form.new_torrent_form input#URN {
  min-width: 400px;
}
form.new_torrent_edit_form {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}
form.new_torrent_edit_form .island {
  margin-bottom: 10px;
}
form.new_torrent_edit_form .important_forminfo {
  padding-left: 20%;
}
form.new_torrent_edit_form input#albumname {
  font-size: 30px;
  font-weight: bold;
  min-width: 300px;
}
form.new_torrent_edit_form input#artistname {
  font-size: 24px;
  font-weight: bold;
  min-width: 300px;
}
form.new_torrent_edit_form input#genres {
  font-weight: bold;
}
form.new_torrent_edit_form input.trackname {
  min-width: 400px;
}
p.error,
p.warning,
p.success {
  max-width: 800px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 1em auto;
  padding: 1em;
  box-sizing: content-box;
  border-radius: 5px;
}
p.error.error,
p.warning.error,
p.success.error {
  background-color: #bbbbff;
  border-color: #aaaadd;
}
p.error.error,
p.warning.error,
p.success.error {
  background-color: #ffbbbb;
  border-color: #ddaaaa;
}
p.error.success,
p.warning.success,
p.success.success {
  background-color: #bbffbb;
  border-color: #aaddaa;
}
.centered {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}
a {
  color: #282828;
  text-decoration: underline;
}
a:hover {
  color: inherit;
  opacity: .7;
  text-decoration: none;
}
.panel p,
.panel li {
  text-shadow: none;
}
.program_version {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 30px;
  margin-bottom: 50px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.torrent_link {
  color: #00dd00;
}
.programversions_table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.programversions_table th {
  vertical-align: bottom;
  text-align: center;
}
.programversions_table td {
  padding: 10px;
}
.programversions_table .program_version {
  display: inline-block;
  margin: 10px;
  font-size: 18px;
}
.large_icon {
  display: block;
  padding: 30px;
  text-align: center;
  font-size: 50px;
}
.download_button {
  text-shadow: 0 1px 8px white;
  font-size: 36px;
  margin-top: 100px;
}
.slim_center_block {
  display: block;
  max-width: 500px;
  margin: 30px auto;
}
